<%- include('../layouts/header') -%>
<div class="text-center mt-5" id="home">
  <div class="container w-20 border py-5 mt-5">
    <h3>Welcome to Homepage</h3>
    <h5><%= user.name %></h5>
    <a href="/logout"><button class="btn btn-success rounded-pill mt-3">Logout</button></a>
  </div>
</div>
<%- include('../layouts/footer') -%>
